a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.container-nav {
  max-width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
}

a {
  transition: 0.3s ease-in-out;
}
.nav {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  ul {
    gap: 2em;
    font-size: 17px;
  }
}
.logo {
  gap: 0.2em;
  font-size: 36px;
  font-weight: bolder;
}

.nav-btn-1 {
  border: 2px solid #1e78ff;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.nav-btn-2 {
  background-color: #1e78ff;
  color: #fff;
  border: 2px solid #1e78ff;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.toggle {
  display: none;
}

li a {
  position: relative;
  color: #333;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
li a:hover:before {
  width: 100%;
}
.active {
  color: #34efdf;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .toggle {
    display: flex;
    flex-direction: column;
  }
  .navigation {
    display: none;
  }
}

@media screen and (max-width: 650px) {
}
