.navbar {
  color: white;
  font-size: 14px;
  background-color: #0b0b0b;

  //fixing navbar at the top
  width: 100%;
  //position: fixed;
  top: 0;
  //z-index: 999;
  background-color: linear-gradient(
    to top,
    trasparent 0%,
    rgb(0, 0, 0, 0.3) 50%
  );

  &.scrolled {
    background-color: var(--main-color);
  }

  .links {
    color: #fff;
  }

  .container-nav {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left-nav {
      display: flex;
      align-items: center;

      span {
        margin-right: 20px;
        cursor: pointer;
      }
      .logo-nav {
        margin-right: 70px;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.7em;
        text-transform: uppercase;
        text-transform: 2px;
      }
    }

    .right-nav {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }
    }

    .profile-nav {
      .options-nav {
        display: none;
        background-color: #111;
        border-radius: 5px;
      }
      span {
        padding: 10px;
        cursor: pointer;
      }
      &:hover {
        .options-nav {
          display: flex;
          flex-direction: column;
          position: absolute;
        }
      }
    }
  }
}
