.container-about {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  grid-column-gap: 1em;
  margin-top: 10px;
}

.laft {
  height: 600px;
  text-align: center;
}
.avatar {
  height: 150px;
  margin-top: 4em;
  margin-bottom: 1em;
}
.raght {
  margin-left: 10px;
  border-left: 2px solid #ba68c8;
  text-align: center;
}

.third {
  border-left: 2px solid #ba68c8;
  text-align: center;
  max-width: 90%;
}

.aboutinput {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.abouttext {
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.fields {
  margin-left: 12px;
}

.save-btn {
  margin-top: 10px;
  background-color: #1e78ff;
  padding: 0.4em 0.6em;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.container__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.container__title {
  font-size: 0.938rem;
  font-weight: 500;
}

.container__subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
}

.container__calender {
  font-size: 1rem;
  color: 250, 8%, 65%;
}

.container__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: blueviolet;
  border-radius: 50px;
}

.container__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: blueviolet;
  transform: translate(6px, -7px);
}
