.job-details-sidebar {
  background: #eee;
  overflow-x: hidden;
  padding: 10px 10px;
  float: right;
  right: 0;
  margin-right: 50px;
  margin-bottom: 48px;
  padding: 32px;
  border: 1px solid #e7e7e9;
  border-radius: 8px;
}

.job-details {
  margin: 20px;
}

.border-line {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #333;
}

.job-types {
  display: grid;
  gap: 4px;
}

.job-container {
  display: flex;
  margin-top: 30px;
}

.hamburger {
  flex: 1;
  margin-left: 10px;
}
.job-details {
  flex: 6;
}
.job-details-sidebar {
  flex: 1;
}

.goback {
  // height: 45px;
  width: 90%;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 4px;
  text-decoration: none;
  // border: 1px solid #fff;
  // border-bottom-width: 2px;
  transition: all 0.3s ease;
  // background-color: #f3f3f4;
  color: #333;
  // font-weight: 500;
  background-color: #e7e7e9;
  .gobackicon {
    vertical-align: middle;
    padding: 3px;
  }
}

.applybutton {
  // height: 45px;
  width: 90%;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #fff;
  font-weight: 500;
  background-color: #ea4c89;
  .gobackicon {
    vertical-align: middle;
    padding: 3px;
  }
}

.applybuttondiv {
  margin-top: 13px;
}
